[Desktop Entry]
Version=3.1
Type=Application
Name=QRecipeWriter
GenericName[fr]=QRecipeWriter
Comment=Ecrire une recette pour son site Wordpress
Exec=QRecipeWriter
Icon=QRecipeWriter
Terminal=false
Categories=Network
StartupNotify=true
